Box sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body{
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-size: 16px;
}
main{
    min-height: 100vh;
    display: grid;
    justify-content: center;
    place-items: center;
}

h2{
  font-weight: 800;
}

h3{
  background-color: hsl(47, 88%, 63%);
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: 800;
}

.container{
    border: 1px solid black;
    padding: 1.2rem;
    background-color:hsl(0, 0%, 100%);
    border-radius: 1rem;
    /* width: 19vw;  */
    box-shadow: 10px 10px 0px 0px black;
}

img{
    max-width: 100%;
    /* display: block; */
    border-radius: 1rem;
}

.avatar {
  margin-top: 1rem;

  display: flex;
  align-items: center;
  
  font-size: 1rem;
  font-weight: 600;
  gap: 1.2rem;
}

.avatar img{
  max-width: 3.5rem;
  /* max-height: 2rem; */
  /* display: inline; */
  background-color: red;
}


.avatar a{
  text-decoration: none;
}

.avatar p{
  /* vertical-align: middle; */
  /* padding: 0.1rem; */
  font-size: 1.4rem;
  font-weight: 800;
  background-color: brown;
}
